@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-nav-fix {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
